.father {
  display: grid;
  /*원하는 갯수만큼 column 개수를 적는다*/
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 50px 300px;
  /*== gap:10px;*/
  column-gap: 10px;
  row-gap: 10px;
}

.child {
  flex-basis: 30%;
  width: 200px;

  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}
