body {
  display: flex;
  /* inline-block 과 같은 효과 */
  /* display:flex; flexbox이전에는 inline-block 이 있어서  너비와 높이가 있는 객체가 옆으로 나란히 있을 수 있었지만 요상한 빈 공간이 있었다.  그러나 바로 객체에 적용하는 것이 아니라 그 객체(요소)의 바로 붙어있는 부모 요소에 적용하는 것이다. */
}
.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}
