.grid {
  background-color: aliceblue;
  color: white;
  display: grid;
  gap: 5px;
  height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-auto-flow: column;
}
.item:nth-child(odd) {
  background-color: #8e44ad;
}

.item:nth-child(even) {
  background-color: #f39c12;
}
