.grid {
  display: grid;
  gap: 10px;
  /*auto는 가능한 크게 */
  /*repeat(횟수, 크기)는 원하는 핏이 있을 때,  */
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}
.header {
  background-color: #2ecc71;
  grid-column: 1/5;

  grid-row: 1/2;
}
.content {
  background-color: #3498db;
  grid-column: 1/4;
  grid-row: 2/4;
}
.nav {
  background-color: #8e44ad;
  grid-row: 2/4;
}

.footer {
  background-color: #f39c12;
  grid-column: 1/5;
}
